<!DOCTYPE html>
<html>
<head>
    <title>Список книг</title>
</head>
<body>
    <h1>Бібліотека: Список книг</h1>

    {% if is_admin %}
        <p>[Режим Адміністратора]</p>
        <a href="{% url 'book_create' %}">Додати нову книгу</a>
    {% else %}
        <p>[Режим Користувача] - Оберіть книгу для детального перегляду</p>
    {% endif %}

    <hr>
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'book_detail' book.bookid %}">
                    <strong>{{ book.title }}</strong>
                </a>
                ({{ book.publicationyear }}) — {{ book.authorid.firstname }} {{ book.authorid.lastname }}
                {% if not is_admin %}
                    | <a href="{% url 'buy_book' book.bookid %}" onclick="return confirm('Купити за 150 грн?')"> Купити</a>
                {% endif %}
            </li>
        {% empty %}
            <li>Книг поки немає.</li>
        {% endfor %}
    </ul>

    <br>
    <a href="{% url 'index' %}">⬅ Назад в меню</a>
</body>
</html>