<!DOCTYPE html>
<html>
<head>
    <title>{{ book.title }}</title>
</head>
<body>
    <h1>{{ book.title }}</h1>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Рік:</strong> {{ book.publicationyear }}</p>
    <p><strong>Жанр:</strong> {{ book.genre }}</p>
    <p><strong>Автор:</strong> {{ book.authorid.firstname }} {{ book.authorid.lastname }}</p>
    <p><strong>Видавець:</strong> {{ book.publisherid.name }}</p>

    <hr>
    <a href="{% url 'book_update' book.bookid %}">✏ Редагувати</a>
    <br><br>

    <form action="{% url 'book_delete' book.bookid %}" method="post">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Ви впевнені?')">🗑 Видалити цю книгу</button>
    </form>

    <br>
    <a href="{% url 'book_list' %}">⬅ Назад до списку</a>
</body>
</html>